<footer>
    <!-- File: bottom_nav.ejs -->
    <!-- Student: Chun Hin Yim -->
    <!-- StudentID: 301255702 -->
    <!-- Date: 3.6.2023 -->
  
  <div class="display-8 navbar-text justify-content-center">Contact me from &nbsp;
    <div class="social-icons">
      <a href="https://www.facebook.com/chunhin.yim.7" target="_blank">
        <i class="fab fa-facebook-square"></i> &nbsp;
      </a>
      <a href="https://www.linkedin.com/in/chunyim" target="_blank">
        <i class="fab fa-linkedin"></i>  &nbsp;
      </a>
      <a href="https://www.instagram.com/yimchunhin" target="_blank">
        <i class="fab fa-instagram"></i> &nbsp;
      </a>
      <a href="https://github.com/chunyim" target="_blank">
        <i class="fab fa-github"></i> &nbsp;
      </a>
    </div>
  </div>
  <!-- </nav> -->
</footer>
