    <!-- File: footer.ejs -->
    <!-- Student: Chun Hin Yim -->
    <!-- StudentID: 301255702 -->
    <!-- Date: 3.6.2023 -->
    
<script src="/jquery/dist/jquery.min.js"></script> <!-- jQuery library -->
<script src="/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Bootstrap JavaScript -->
<script src="https://kit.fontawesome.com/a188b58bdb.js" crossorigin="anonymous"></script> <!-- Font Awesome JavaScript -->
<script src="/content/app.js"></script> <!-- Custom JavaScript file for your application -->
</body>
</html>
